# Demand forecasting using time series analysis

In [9]:
import os
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.metrics import mean_squared_error
import time
import statsmodels.api as sm
import pickle

In [17]:
# Constants needed for the program

data_path = os.getcwd()
os.chdir(data_path)
list_flds = []
fld_name = ''
index_col_name = 'Month'
file_path_in = os.path.join(data_path,'Import_file_names.txt')
file_path_out = os.path.join(data_path,'output_dataset.txt')
f_name = pd.read_csv(file_path_in,sep='\t')

'c:\\Users\\pgl\\Documents\\GitHub\\Hands-On-Artificial-Intelligence-for-Banking\\Chapter02\\2A_Seasonality\\Import_file_names.txt'

In [26]:
curr_pd = pd.read_csv('C:/Users/pgl/Documents/GitHub/Hands-On-Artificial-Intelligence-for-Banking/Chapter02/2A_Seasonality/avg_california.csv', header=4)

        Month  Series ID: ELEC.COST.NG-CA-98.M dollars per mcf
0    Jan 2018                                             3.79
1    Dec 2017                                              NaN
2    Nov 2017                                              NaN
3    Oct 2017                                              NaN
4    Sep 2017                                              NaN
..        ...                                              ...
116  May 2008                                            10.47
117  Apr 2008                                             9.91
118  Mar 2008                                             9.23
119  Feb 2008                                             8.40
120  Jan 2008                                             7.66

[121 rows x 2 columns]